Repository mt-sre/addon-metadata-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, build-operator-image

.pre-commit-config.yaml:

---
exclude: ".*.deepcopy.go"
repos:
# Fixers
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: end-of-file-fixer
  - id: pretty-format-json
    args:
      - --autofix
  - id: trailing-whitespace

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.0
  hooks:
  - id: go-fmt

- repo: local
  hooks:
  - id: go-mod-tidy
    name: go-mod-tidy
    language: system
    entry: ./mage check:tidy
    pass_filenames: false
    always_run: true
    require_serial: true
  - id: go-mod-verify
    name: go-mod-verify
    language: system
    entry: ./mage check:verify
    pass_filenames: false
    always_run: true
    require_serial: true

# Checkers
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: detect-private-key

- repo: local
  hooks:
  - id: golangci-lint
    name: golangci-lint
    language: system
    entry: ./mage check:lint
    pass_filenames: false
    types: [go]
    require_serial: true
  - id: build-operator-image
    name: build-operator-image
    language: system
    entry: ./mage build:operatorimage
    pass_filenames: false
    files: 'Dockerfile\.build$'
    require_serial: true

fix: ensure ocm client uses correct url during validation
  cmd/mtcli/validate/cmd.go
Due: golangci-lint

chore: add dependabot for dev-deps
  .github/dependabot.yml
Due: none

feat: go 1.18 upgrade
  Dockerfile.build
  Dockerfile.release
  go.mod
  go.sum
  pr_check.sh
  tools/go.mod
  tools/go.sum
Due: build-operator-image

chore: remove remaining operator artifacts
  .pre-commit-config.yaml
  Makefile
  PROJECT
  README.md
  build_tag.sh
  magefile.go
  pkg/extractor/bundles_benchmark_test.go
Due: golangci-lint

ci: migrate integration tests to GinkGo
  go.mod
  go.sum
  integration/mtcli/bundle_test.go
  integration/mtcli/list_bundles_test.go
  integration/mtcli/list_test.go
  integration/mtcli/mtcli_suite_test.go
  integration/mtcli/validate_bundle_test.go
  magefile.go
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: golangci-lint

ci: make integration tests less flakey
  integration/mtcli/list_test.go
  integration/mtcli/mtcli_suite_test.go
  tools/go.mod
  tools/go.sum
Due: golangci-lint

ci: refactor jenkins env setup
  build_tag.sh
  cicd/jenkins_env.sh
  pr_check.sh
Due: none

fix: quarantine opm apis
  cmd/mtcli/list/bundles/cmd.go
  pkg/extractor/bundle.go
  pkg/extractor/bundle_cache.go
  pkg/extractor/bundle_test.go
  pkg/extractor/bundles_benchmark_test.go
  pkg/extractor/extractor.go
  pkg/extractor/extractor_test.go
  pkg/extractor/interfaces.go
  pkg/operator/bundle.go
  pkg/types/extractor.go
  pkg/types/validators.go
  pkg/utils/bundle_utils.go
  pkg/utils/csvutils/csv_rbac_utils.go
  pkg/validator/am0001/default_channel.go
  pkg/validator/am0001/default_channel_test.go
  pkg/validator/am0003/operator_name.go
  pkg/validator/am0003/operator_name_test.go
  pkg/validator/am0007/csv_install_modes.go
  pkg/validator/am0007/csv_install_modes_test.go
  pkg/validator/am0012/csv_rbac.go
  pkg/validator/am0015/csv_deployments.go
  pkg/validator/am0015/csv_deployments_test.go
  pkg/validator/latest_bundle.go
  pkg/validator/testutils/bundle_loader.go
Due: golangci-lint

fix: deprecating pullSecret from AMO API
  api/v1alpha1/addonmetadata_types.go
Due: golangci-lint

fix: remove display-name regex
  api/v1alpha1/addonmetadata_types.go
Due: golangci-lint

Added addon label test as an integration test
  integration/mtcli/label_test.go
  internal/testdata/metadata_v1/legacy/connectors-operator/metadata/stage/addon.yaml
  internal/testdata/metadata_v1/legacy/ocm-addon-test-operator/metadata/stage/addon.yaml
Due: golangci-lint

feat: AM0005 enabled integration test
  integration/mtcli/test_harness_test.go
  internal/testdata/metadata_v1/legacy/connectors-operator/metadata/stage/addon.yaml
Due: golangci-lint

feat: added integration test by disabling multiple validators
  integration/mtcli/disable_test.go
  internal/testdata/metadata_v1/legacy/advanced-cluster-management/metadata/stage/addon.yaml
Due: golangci-lint

ci: use go-ci git commands
  magefile.go
Due: golangci-lint

fix: [mtsre-725] AMO imageset api not in compliance with imageset schema
  api/v1alpha1/addonimageset_types.go
  pkg/mtsre/v1/addons.go
Due: golangci-lint

ci: fix boilerplate generation to ensure updates are applied
  magefile.go
Due: golangci-lint

feat: Upated Addon metadata API
  api/v1alpha1/addonmetadata_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/mtsre/v1/addons.go
  pkg/mtsre/v1/zz_generated.deepcopy.go
Due: golangci-lint

feat: changed subscriptionConfig to config
  api/v1alpha1/addonimageset_types.go
  api/v1alpha1/addonmetadata_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  internal/testdata/metadata_v1/imagesets/reference-addon/addonimagesets/stage/reference-addon.v0.0.1.yaml
  internal/testdata/metadata_v1/legacy/reference-addon/metadata/stage/addon.yaml
  internal/testdata/metadata_v2/reference-addon/addonimagesets/stage/reference-addon.v0.0.1.yaml
  pkg/mtsre/v1/addons.go
  pkg/mtsre/v1/zz_generated.deepcopy.go
Due: golangci-lint

bump golangci-lint to v1.49.0
  tools/go.mod
  tools/go.sum
Due: none

fix: [mtsre-729] validator ensuring additional catalog source are unique
  pkg/validator/am0016/additional_catalog_source.go
  pkg/validator/am0016/additional_catalog_source_test.go
  pkg/validator/register/register.go
Due: golangci-lint

fix: [mtsre-731] secret names must be unique
  pkg/validator/am0017/secret.go
  pkg/validator/am0017/secret_test.go
  pkg/validator/register/register.go
Due: golangci-lint

fix: [mtsre-741] AM0018 Addon pullSecretName should be a part of secrets
  pkg/validator/am0018/pull_secret_name.go
  pkg/validator/am0018/pull_secret_name_test.go
  pkg/validator/register/register.go
Due: golangci-lint

fix: deprecated and merged am0016 and am0017
  pkg/validator/am0016/additional_catalog_source.go
  pkg/validator/am0016/unique_resource.go
  pkg/validator/am0016/unique_resource_test.go
  pkg/validator/am0017/secret.go
  pkg/validator/am0017/secret_test.go
  pkg/validator/register/register.go
Due: golangci-lint

fix: moved am0018 to am0017
  pkg/validator/am0017/pull_secret_name.go
  pkg/validator/am0017/pull_secret_name_test.go
  pkg/validator/register/register.go
Due: golangci-lint

fix: added check for unique credential requests
  pkg/validator/am0016/unique_resource.go
  pkg/validator/am0016/unique_resource_test.go
  pkg/validator/am0017/pull_secret_name.go
Due: golangci-lint

ci: fix AM0002 integration timeout to reduce flakes
  integration/mtcli/label_test.go
Due: golangci-lint

ci: fix lint
  api/v1alpha1/addonimageset_types.go
  api/v1alpha1/addonmetadata_types.go
  api/v1alpha1/groupversion_info.go
  internal/testutils/reference_addon.go
  internal/testutils/testutils.go
  internal/testutils/testutils_test.go
  pkg/extractor/bundle.go
  pkg/mtsre/v1/addons.go
  pkg/ocm/v1/addons.go
  pkg/utils/meta_loader.go
  tools/go.mod
  tools/go.sum
Due: golangci-lint

fix: bump k8s.io/apiextensions-apiserver to v0.26.0
  go.mod
  go.sum
Due: none

fix: bump modules to go 1.19
  cicd/jenkins_env.sh
  go.mod
  tools/go.mod
  tools/go.sum
Due: none

ci: use goreleaser 1.19 image
  Dockerfile.release
Due: none

feat: add client credentials capabilities for ocm client
  cmd/mtcli/validate/cmd.go
  pkg/validator/ocm_client.go
  pkg/validator/ocm_client_test.go
  pkg/validator/options.go
  pkg/validator/runner.go
Due: golangci-lint

ci: fix golangci-lint
  tools/go.mod
  tools/go.sum
Due: none

fix: bump golangci-lint
  tools/go.mod
  tools/go.sum
Due: none

fix: better integration with Cobra and enhanced pre-emptability
  cmd/mtcli/bundle/validate/cmd.go
  cmd/mtcli/list/bundles/cmd.go
  cmd/mtcli/list/validators/cmd.go
  cmd/mtcli/main.go
  cmd/mtcli/validate/cmd.go
  cmd/mtcli/version/cmd.go
  internal/testutils/reference_addon.go
  pkg/extractor/bundle.go
  pkg/extractor/extractor.go
  pkg/extractor/extractor_test.go
  pkg/extractor/index.go
  pkg/extractor/index_test.go
  pkg/extractor/interfaces.go
  pkg/validator/am0012/csv_rbac_test.go
Due: golangci-lint

ci: fix golangci-lint version
  tools/go.mod
  tools/go.sum
Due: none

ci: bump integration timeouts to 30s
  integration/mtcli/bundle_test.go
  integration/mtcli/disable_test.go
  integration/mtcli/label_test.go
  integration/mtcli/list_test.go
  integration/mtcli/test_harness_test.go
  tools/go.mod
  tools/go.sum
Due: golangci-lint

fix: bump k8s dependencies
  go.mod
  go.sum
Due: none

fix: update to imageset api
  api/v1alpha1/addonimageset_types.go
Due: golangci-lint

feat: AMO API parity with mt-cli schemas
  api/v1alpha1/addonmetadata_types.go
  pkg/mtsre/v1/addons.go
Due: golangci-lint
